services:
  app:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    volumes:
      - ./config:/config/
      - ./bluetooth-data:/var/lib/bluetooth/
    restart: "always"
    network_mode: "host"
    privileged: true
    tty: true
